<header>
  <nav class="nav">
    <span>
      Angular todo
    </span>
    <ol class="nav-main">
      <li *ngFor="let link of mainMenu">
        <a [href]=link.path>{{ link.label }}</a>
      </li>
    </ol>
    <div class="nav-side">
      <p mat-button *ngIf="!logins" [matMenuTriggerFor]="menu">Menu</p>
      <p mat-button *ngIf="logins" [matMenuTriggerFor]="menu">{{ logins.user.username }}</p>
      <mat-menu #menu="matMenu">
        <ng-container *ngIf="!logins">
          <a *ngFor="let sideLink of sideMenu" mat-menu-item routerLink="{{ sideLink.path }}">{{ sideLink.label }}</a>
        </ng-container>
        <ng-container *ngIf="logins">
          <a mat-menu-item routerLink="/account">Account</a>
          <a mat-menu-item (click)="logout()">Logout</a>
        </ng-container>
      </mat-menu>
    </div>
  </nav>
</header>
