<div class="todo-item" [ngClass]="{'completed': todoItem.isComplete, 'incomplete': !todoItem.isComplete}">
  <div class="todo-item_content">
    <h4>Task: {{todoItem.title}}</h4>
    <p>Priority: {{todoItem.severity}}</p>
    <p>Note: {{todoItem.description}}</p>
  </div>
  <div class="todo-item-action_area">
    <button class="btn-info" [disabled]="todoItem.isComplete" (click)="editTask(todoItem._id)">Edit</button>
    <button class="btn-danger" (click)="deleteTask(todoItem._id)">Delete</button>
    <button (click)="setStatus(todoItem._id, todoItem)" [ngClass]="{'btn-warning': todoItem.isComplete, 'btn-success': !todoItem.isComplete}">
      {{todoItem.isComplete ? 'Reopen' : 'Complete'}}
    </button>
  </div>
</div>
