<div class="account">
  <div class="account_head">
    <h2>Account</h2>
    <p>
      Here you can manage your account details.
    </p>
  </div>
  <div class="account_main">
    <div class="account_main-side">
      <div class="account_main-side-head">
        <h2>Account Details</h2>
      </div>
      <div class="account_main-side-content">
        <h3>Username: {{ logins.user?.username }}</h3>
        <h3>Email: {{ logins.user?.email }}</h3>
      </div>
      <div>
        <button class="btn-warning" (click)="onLogout()">Logout</button>
        <button class="btn-danger" (click)="onDeleteAccount()">Delete</button>
      </div>
    </div>
    <div class="account_main-center">
      <div class="account_main-center-head">
        <h2>Edit Account Details</h2>
      </div>
      <form [formGroup]="accountForm" (ngSubmit)="onChangedDetails()">
        <div>
          <label for="username">Username:</label>
          <input id="username" formControlName="username" type="text">
        </div>
        <div>
          <label for="email">Email:</label>
          <input id="email" formControlName="email" type="email">
        </div>
        <div>
          <button type="submit" class="btn-success">Save Changes</button>
        </div>
      </form>
      <div class="account_main-center-head">
        <h2>Change Password</h2>
      </div>
      <form [formGroup]="passwordForm" (ngSubmit)="onChangePassword()">
        <div>
          <label for="newPassword">New Password:</label>
          <input id="newPassword" formControlName="newPassword" type="password">
        </div>
        <div>
          <label for="confirmPassword">Confirm new Password:</label>
          <input id="confirmPassword" formControlName="confirmPassword" type="password">
        </div>
        <div>
          <button type="submit" class="btn-success">Change Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
