<div class="intro">
  <div>
    <h2>
      Welcome to the Angular todo app.
    </h2>
    <span>
      Made with the latest version of Angular and Node.js/Express.
    </span>
    <p>
      This is a simple todo app that allows you to <br> add, edit, delete, and mark tasks as complete or incomplete.
    </p>
  </div>
  <div>
    <h3>
      This small app serves a small technical showcase of Angular <br> and Node.js/Express with TypeScript.
    </h3>
    <p>
      You can also register, login as a user with the help JWT.
    </p>
  </div>
</div>
