@import "./colors";

.todo-item {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 0.5rem;
  background: darken($BAUHAUS-App-Branding-5-hex, 5%);
  margin: 1rem 0 1rem;
  transition: 0.3s ease-in-out;

  &:hover {
    background: darken($BAUHAUS-App-Branding-5-hex, 10%);
    transform: scale(1.02);
    transition: 0.3s ease-in-out;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  }

  &_content {

    h3, h4, span {
      margin: 0;
    }

    h3 {
      margin-bottom: 1rem;
    }
  }

  &-action_area {

  }
}

.completed {
border: 2px solid $success;
}

.incomplete {
border: 2px solid $danger;
}
